@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Source+Sans+3:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Kanit:wght@700&family=Source+Sans+3:wght@600&display=swap');
@import url('https//fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Kanit:wght@700&family=Patua+One&family=Source+Sans+3:wght@600&display=swap');

*
{
    margin:0;
    padding:0;    
}
:root{
    --color1:rgb(0, 0, 0, 0.75);
    --color2:rgb(0, 0, 0, 0.75);
}
html{
    scroll-behavior: smooth   ;
    transition: 1s;
} 
#header{
    width: 100vw;
    display: flex;
    position: fixed;    
    height: 90px;
    background: rgba(14, 14, 15, 0.8);
   
    justify-content: space-around; 
    z-index: 110;
    
    
}

#logo  /*MAILIOTE 3d/*/
{  
    margin-top: 10px;    
    text-decoration: none;
    letter-spacing: 0.2rem;
    flex-direction: column;/*vai alinhar um em cima do outro*/
    align-items: center; /*vai centralizar o texto*/     
    width: 400px;
    height: 50px;
   color: hwb(22 0% 0%);  
   font-size: 2rem; 
   position: relative;    
   transition: ease-out 0.5s;   
   display: flex;   
   z-index: 1;
   font-family: 'Source Sans 3', sans-serif

}
#logo p/*Engenharia e arquitetura*/ { 
   margin-top: -5px;
    font-size: 1.4rem;
      font-family: 'Source Sans 3', sans-serif
}
#logo:hover  /*MAILIOTE 3d/*/
{    
    color: white;
    text-shadow: 0 0 15px rgb(248, 186, 0);  
   
}
#logo::before /*UNder line mailiote*/
{
    content:"";    
    height:.5px;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -18px; /*afastamento da underline até o texto*/
    left:50%;/*começa do 50% pois fica bem no meio, entao vai iniciar 50 pra um lado e 50 pro outro lado fechando 100% do texto (mais o padding)*/
    right:50%;/*iniciar do centro,  20%<--pra esqu.50|50 pra direita--->20% */
    transition: .5s;
    
}

#logo:hover::before /*Hover Under line*/
{  
    border-radius: 50%;/*aredonda os cantos da under line */
    height:3.5px; /* expessura la under line*/
    left: 20%;/* ela vai acabar quase no fim do texto se for 100% ela acaba um pouco depois do texto por causa do padding */
    right:20%;/* o underline vai acabar antes do fim do texto , se for 100% fica até o fim*/
    transition: .5s all none;
    box-shadow: 0px 0 22px  2px rgb(251, 208, 98);
    
    z-index: 5;
}

#menu a /* config. texto do Menu LI a*/
{    
    font-family: sans-serif;
    padding: .8rem;
    color: hwb(22 0% 0%);
    text-decoration: none;  
    position: relative;     
}

#menu a:hover  
{
    color: white;
    /*text-shadow: 0 0 9px rgb(255, 0, 0);  */
    letter-spacing: 1px;
    transition: .5s; 
    text-shadow: 0 0 8px rgb(255, 255, 255), 0 0 25px rgba(255, 217, 2, 0.989);
  /*box-shadow: inset 0 0 32px #14fff1, 0 0 32px #14fff1;*/
}

#menu a::after  /*efeito da underline embaixo do texto*/
{
    content:"";    
    height:.1px;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: 5px; /*afastamento da underline até o texto*/
    left:50%;/*começa do 50% pois fica bem no meio, entao vai iniciar 50 pra um lado e 50 pro outro lado fechando 100% do texto (mais o padding)*/
    right:50%;/*iniciar do centro,  20%<--pra esqu.50|50 pra direita--->20% */
    transition: .5s;
}
#menu a:hover::after/*Under line no LI a*/
{   
    border-radius: 50%;/*aredonda os cantos da under line */
    height:3.5px; /* expessura la under line*/
    left: 20%;/* ela vai acabar quase no fim do texto se for 100% ela acaba um pouco depois do texto por causa do padding */
    right:20%;/* o underline vai acabar antes do fim do texto , se for 100% fica até o fim*/
    transition: .5s all none;
    box-shadow: 0px 0 22px  2px rgb(255, 231, 171);
    
    z-index: 1;
}

#menu /************************************/
{ 
    width: 700px;  
    display: flex;
    justify-content: space-around;
    height: 5rem;
    align-items: center; 
    list-style: none;/*REMOVE OS PONTO NAS FRENTE*/ 
    padding: 0%;    
}

#btn-mobile
{
    display: none;
    background: none;
    color:  hwb(22 0% 0%);
    opacity: 1;
}
@media(max-width:1024px)/* quando minimizar e chegar a 950 pix o Menu encolhe*/
{     
    body 
    {
      overflow-x: hidden;
    }

      #logo{
        font-size: 1.8rem;
      }
      #logo p {
        font-size: 1.1rem;
      }
    #menu /*Esse é o Menu que abre quando a tela fica pequena*/
    {
     position: absolute;   
     top: 90px;/* espaço que vai iniciao do 0*/    
     right:0; /*vai iniciar ficar todo ao lado direito*/
     width: 40vw; /* largua desejada do menu, vai ficar meia tela , pois é em vw*/
     height: calc(100vh - 80px);
     background: rgb(0, 0, 0, 0.80); 
     flex-direction: column;/*pras  texto(li) letras ficarem em  modo coluna uma em cima da outra*/ 
     align-items:center; /* alinhar os LI texto no centro do menu*/
     /*justify-content: space-around;/*pro texto(li) preencherem todo espaço no menu*/
     transform: translateX(100%); /* faz o fundo do menu lateral deslizar pro lado */
     transition: transform 0.3s ease-in; /*faz o menu se recolher lentamente*/
     border-left: solid 1px;       
          
    }
    #menu li/*quando menu é aberto entra suave*/
    {
       font-size: 1rem; 
       margin-left: 0;
       opacity: 0;         
    }   
        #menu.active
        {
        transform: translateX(0);
        }
        @keyframes navLinkFade 
        {
          from {
            opacity: 0;
            transform: translateX(50px);
          }
          to {
            opacity: 1;
            transform: translateX(0);
          } 
        }     
         #btn-mobile
        {               
        
            display:flex;
        padding:0.rem;
        font-size: 1rem;
        margin: 2.2rem; 
        margin-right: 2rem;
        cursor: pointer;
        border: none;  
        gap:0.5rem; /*afasta o botao menu do icone do hanburgurer*/      
        } 

        #hamburguer
        {   color: hwb(22 0% 0%);
            border-top: 2px solid;
            width: 20px;
            box-shadow: 0 0 10px rebeccapurple;  
        }
        #hamburguer::after, #hamburguer::before
        {
            content:'';/* esse elemento ta vasio, pois para um elemento after exixtir, precisamos dar um contudo pra ele ('') pode ser elemento vazio.*/ 
            display: block; /*tem que indicar que é um elementode  block pra criar o width e hight pra dar as dimensoes */
            width: 20px;/* largura do elemento que vai ser uma linha*/
            height: 2px; /*expessura do elementoi ou linha como vai ser*/
            background: currentColor;/*quando mudar a cor no #hamburguer de cima muda automatico o after e beforer*/
            margin-top: 5px;
            position: relative; /* tem que ter essa conf. para funcionar e alinha ao centro as LINHAs do X do menu , na seguencia*/ 
            transition: .3s;   

        }        
        #nav.active #hamburguer
        {
            transform: rotate(270deg);
            transition: .5s;
            border-color: transparent;                       
        }

        #nav.active #hamburguer::before
        {
            transform: rotate(135deg);
        }

        #nav.active #hamburguer::after
        {
            
            transform: rotate(-135deg);
            top: -7px; /* serve pra alinhar para cima um pouco no meio pra se tornar um X no menu,  e preisa addicionar position:relative no #hamburguer after/before acima ,no foi testado varios numeros antes*/
        }
}
section{
    min-height: 100vh; 
    width: 100vw;  
}

#Mailiote3d{
    
 
    background-color: #ff5e00;
    position: relative;    
    z-index: -1;
}

.main-child{/*imagem de fundo pagina inicial*/ 
   
    height: 100vh;
    width: 100vw;     
    z-index: -1;
    background: linear-gradient(180deg, #000000b6, #000000aa, #00000077,rgba(1, 1, 1, 0.214),rgba(0, 0, 0, 0.566), #000000b1,rgba(0, 0, 0, 0.975)) no-repeat;

}
#fundo{  
    
   

}
#nda img{
    position: absolute;  
    margin-top: 0;
    width: 100%;
    height: 100%;
    z-index: -50;
    object-fit: cover;
    object-position:bottom center;
    
    
}

#welcome {/* BEM VINDO!*/    
    
    position:absolute;            
    margin-top: 100px;
    width: 100vw;
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.8rem;
    color: rgb(255, 255, 255); 
    font-family: 'Source Sans 3', sans-serif;
   /*background: #42fbf254;    */
    text-shadow: #0e0e0e 1PX 1px 19px;  
   
}
#texto{ /* descricao sonho...*/
    width: 99%;
    position:absolute; 
    text-align: center; 
    letter-spacing: 0.4rem;  
    top: 80%;
    margin: 10px;   
    font-size: 2.5em;
    color: rgb(255, 255, 255); 
    font-family: 'Source Sans 3', sans-serif;     
    text-shadow: #000000 0 0  15px ;  
}

#Servicos{  /*fundo e alocacao dos textos titulo*/
    
    min-height: 100vh;
    background: linear-gradient(180deg, #000000bb, #00000091, #00000047,rgba(115, 115, 115, 0.496),rgba(0, 0, 0, 0.434), #00000086,rgba(0, 0, 0, 0.885)) no-repeat;
    font-family: 'Source Sans 3', sans-serif;
    color: rgb(33, 28, 28);/*cor do texto*/
    padding-top: 3%;    
    text-align: center;
      
}
    .container{
        position: relative;
        display: flex;
        flex-wrap:wrap ;
        padding: 2%;
    }   
.container #image{
    
    width: 100%;
    
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    list-style: none;
  
    
}#Servicos img {
    
    border-radius: 50%;
    box-shadow: #000000 0 0 25px;
    width: 200px;
    height: 200px;   
    border: #ff5e00 solid 5px;
    object-fit: cover;
    object-position:bottom center;

}    

#Servicos h1{
    padding-top: 90px;
    font-size: 2.9rem;
    font-family: 'Source Sans 3', sans-serif;
    color: rgb(229, 226, 226);
    text-shadow: #000000 0 0 12px;
    letter-spacing: 8px;
    }
#Servicos  p{
    font-size: 25px;
    letter-spacing: 4px;
    list-style: none;
    padding: 5%;
}



#Contato h1{
    text-align: center;
    font-size: 250%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    letter-spacing: 10px;
    
   
}

#Contato{
    
    padding-top: 15%;
     font-size: 20px;
    font-family: 'Source Sans 3', sans-serif;
    color: rgb(199, 193, 193);

    letter-spacing: 5px;
   background-color: rgb(29,29,29);
}


#Projetos .container{  /*pagina */
    position: relative;/*ta definindo que a proximas posiçoes vao ser a partir desse elemento*/
    min-height: 100vh;  /*tamanho total da tela*/
    background: rgb(24, 23, 23); /*background o fundo da tela atras das imagens */
    padding-top: 5%;
}
#Projetos h1{
    padding-top: 60px;
    color: rgb(211, 208, 208);
    letter-spacing: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Source Sans 3', sans-serif;
   
    z-index: 2000;
    
}
#Projetos .container .image-container {/* MINIATURAS EM CONJUNTO trata de alocação de todas as miniaturas na tela*/
    display: flex;
    flex-wrap:wrap ; /* faz os itens flexiveis ficar em multiplas linhas, */
    gap: 15px; /*espaço entre as miniaturas*/
    justify-content: center; /* vai alinhas todas as miniaturas no centro da tela*/
    padding: 20px;/*o padding faz deslocar em ambos lados*/
}
#Projetos .container .image-container .image{ /*MINIATURAS UNICAS trata tamanho do border no caso a moldura em si e nao a imagem */
    height: 250px; /* altura da miniatua*/
    width: 350px; /* largura da miniatura*/
    border: 2px solid rgba(255, 255, 255, 0.365); 
    overflow: hidden;/* LImita a imagem dentro do border na hora do hover, sem ela a imagem expandi pra fora da caixa border*/
    cursor: pointer; /* fica a maozinha*/
    box-shadow: rgb(255, 111, 0) 0 0 8px;
}
#Projetos .container .image-container .image img{ /*IMAGEM dentro da moldura border*/
    height: 100%;/*define a imagem dentro do da moldura  */
    width: 100%;/*define a larguran*/
    object-fit: cover;
    transition: .2s linear;/*faz o hover expandir a imgem suavemente*/

}
#Projetos .container .image-container .image img:hover{
    transform: scale(1.4); 
    
}
#Projetos .container .popup-image{/*IMAGEM FULL quando a imagem abre tamanho grande*/
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.88); /* fundo atras da imagem escurece*/ 
    height: 100%;
    width: 100%;
    z-index: 50;
    display: none;
}
#Projetos .container .popup-image span{/*esse é X pra fechar a imagem*/
    position: absolute;
    top: 6%;
    right: 5%;
    font-size: 60px;/*tamanho do X fechar imagem*/
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 5010;

}
#Projetos .container .popup-image img{ /* dimensoes e a posiçao quando abre a imagem */  
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid#fff;
    border-radius: 5px;
    box-shadow: rgb(255, 111, 0) 0 0 15px;
    width: 70%; /*tamanho da imagem pode ser em px ou rem*/
    object-fit: cover; /*pra ficar dentro do espço e nao fica destorcida ou esticada*/
z-index: 200;
}

 #Contato p{
    text-align: center;
    font-size: 25px;
    margin-top: 4%;
    margin-left: 15%;
    margin-right: 15%;
    letter-spacing: 4px;
   
}
#Contato .icon-sociais .image{
   
    width:70px;
    height: 70px; 
   padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center ;
   
}

#Contato img {
  
    border-radius: 50%;
    box-shadow: #ffffff 0 0 25px;
    width: 100%;
    height: 100%;   
    border: #ff5e00 solid 3px;
    object-fit: cover;  
   
}    
#Contato .icon-sociais{/*epaco total do 3incones*/
    display: flex;  /*faz as os icons ficarem lado a lado*/ 
   
    flex-wrap:wrap ; /* faz os itens flexiveis ficar em multiplas linhas, */
    gap: 2%; /*espaço entre as miniaturas*/
    justify-content: center; /* vai alinhas todas as miniaturas no centro da tela*/
    margin-top: 80px;
}

#Contato img:hover {
    transform: scale(1.4);    
    transition: .5s;
    box-shadow: #ff5e00 0 0 25px;
    border: #ffffff solid 3px;
 }



@media(max-width:600px)
{
    #Projetos .container .popup-image img{

    width: 95%;
    }
    #Servicos h1{
        font-size: 2rem;
        padding-bottom: 6%;
    }
    #Projetos h1{

        padding-top: 10%;
       
    }
}